ClsLibraryMitchell/TestClientMitchell/Service References/CRUDMitchell_WCFService/CRUDMitchell.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51021/CRUDMitchell.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClsLibraryMitchell" />
  <xs:element name="CreateNewClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClsLibraryMitchell" minOccurs="0" name="mct" nillable="true" type="q1:claMitchellClaim.MitchellClaimType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewClaimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClsLibraryMitchell" minOccurs="0" name="GetClaimDetailsResult" nillable="true" type="q2:claMitchellClaim.MitchellClaimType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClaimsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClaimsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClsLibraryMitchell" minOccurs="0" name="GetAllClaimsListResult" nillable="true" type="q3:ArrayOfclaMitchellClaim.MitchellClaimType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClaimsDataSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClaimsDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllClaimsDataSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVechiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVechilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVechilesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClsLibraryMitchell" minOccurs="0" name="mct" nillable="true" type="q4:claMitchellClaim.MitchellClaimType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDBConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDBConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDBConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>